table {
  width: 50%;
  margin: 10px 10px;
  font-size: 13px;
  text-align: center;
}

th,
td {
  padding: 5px;
  border: 1px solid #9ec03d !important;
}

th {
  background-color: #9ec03d;
  color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #eaf2d3;
}
.agent {
  color: #3838ff;
  font-weight: 600;
}
